body {
font-family: 'Comfortaa', cursive;
line-height: 1.5;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* helper/utility classes */
a {
 text-decoration: none;
}

.text-white {
 color: var(--mainWhite);
}

.text-center {
 text-align: center;
}

.text-primary {
 color: var(--primaryColor);
}
/* clearfix */
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
/* globals */
.section-center {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}
.section-subtitle {
  font-size: 2rem;
  font-family: var(--slantedText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  color: var(--primaryColor);
}
.section-title {
  font-size: 2rem;
  text-transform: uppercase;
}

:root {
--slantedText: 'Pacifico', cursive;
--primaryColor: rgb(72, 111, 153); 
--secondaryColor: rgb(63, 148, 137);
--mainWhite: rgb(225,231,239);
--mainGrey: rgb(202, 208, 211);
--mainDark: rgb(73, 79, 82);
--mainTransition: all .3s ease-in-out;
--letterSpacing: .55rem;
}
/* nav button */
.nav-btn {
 color: var(--primaryColor);
 z-index: 1;
 position: fixed;
 top: 0;
 left: 0;
 margin: 1.3rem 1.7rem;
 font-size: 2.5rem;
 animation: bounce 2s ease-in-out infinite;
 cursor: pointer;
}

@keyframes bounce {
 0% {
  transform: scale(1)
 }
 50% {
  transform: scale(1.35)
 }
 100% {
  transform: scale(1)
 }
}
/* end of nav button */

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--primaryColor);
  padding-top: 1rem;
  padding-left: 2rem;
  transition: var(--mainTransition);
  /* transform */
  transform: translateX(-100%);
}
.showNav {
  transform: translateX(0%);
}
.close {
  color: var(--mainWhite);
  font-size: 2.1rem;
  cursor: pointer;
}
.close:hover {
  color: var(--mainDark);
  padding-left: 0.2rem;
}
.nav-items {
  padding-top: 0.85rem;
  list-style-type: none;
}
.nav-link {
  display: block;
  font-size: 1.35rem;
  text-transform: uppercase;
  color: var(--mainGrey);
  transition: var(--mainTransition);
}

.nav-link:hover {
  color: var(--mainDark);
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 30vw;
    max-width: 20rem;
  }
}
/* end of navbar */
/* header */
.header {
min-height: 100vh;
background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.4)), 
url("./img/background-main.jpeg") center/cover no-repeat fixed;
position: relative;
}

.banner {
position: absolute;
top: 47%;
left: 50%;
text-align: center;
transform: translate(-50%, -50%);
letter-spacing: var(--letterSpacing);
}

.strokeme-two {
  color: var(--primaryColor);
  text-shadow: -2px -2px 0 var(--primaryColor);, 2.4px -2.4px 0 var(--primaryColor);, -2px 2px 0 var(--primaryColor);, 2px 2px 0 var(--primaryColor);
}

.banner-subtitle {
font-family: var(--slantedText);
color: var(--primaryColor);
font-weight: bold;
font-size: 1.25rem;
/* animation */
animation: slideFromRight 5s ease-in-out 1;
}

.banner-title {
 color: var(--mainWhite);
text-transform: uppercase;
font-size: 2.8rem;
margin-top: 2.5rem;
line-height: 1.3;
/* animation */
animation: slideFromLeft 5s ease-in-out 1;
}

.main-btn,
.banner-btn {
 margin-top: 2.5rem;
display: inline-block;
background: var(--primaryColor);
text-transform: uppercase;
padding: .8rem 1.2rem;
color: var(--mainDark);
font-weight: bold;
outline: 1rem solid var(--primaryColor);
outline-offset: 4px;
cursor: pointer;
transition: var(--mainTransition);
}

.main-btn:hover,
.banner-btn:hover{
color: var(--mainWhite);
opacity: .65;
}

.banner-btn {
 margin-top: 3.5rem;
 padding: 1.2rem 1.5rem;
 /* animation */
 animation: show 5s ease-in-out 1;
}

/* animations */
@keyframes show {
 0% {
  transform: scale(2);
  opacity: 0;
 }
 100% {
  transform: scale(1);
  opacity: 1;
 }
}

@keyframes slideFromRight {
0% {
 transform: translateX(-1000px)
}
50% {
 transform: translateX(200px)
}
75% {
 transform: translateX(-50px)
}
100% {
transform: translateX(0px)
}
}

@keyframes slideFromLeft {
0% {
 transform: translateX(1000px)
}
50% {
 transform: translateX(-200px)
}
75% {
 transform: translateX(50px)
}
100% {
transform: translateX(0px)
}
}
/* end of header */
/* content divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--primaryColor),
    var(--secondaryColor),
    var(--primaryColor)
  );
}
/* end of content divider */

/* skills */

.skills {
 background: var(--mainGrey);
}

.skill {
 padding: 2.5rem 0rem;
 text-align: center;
 transition: var(--mainTransition);
}

.skill-icon {
font-size: 2.5rem;
margin-bottom: 1.5rem;
transition: var(--mainTransition);
display: inline-block;
}

.skill-title {
 font-size: 1.1rem;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: var(--letterSpacing);
 margin-bottom: 1.5rem;
 color: var(--primaryColor);
 transition: var(--mainTransition);
}

.skill-text {
 max-width: 13rem;
 margin: 0 auto;
}

.skill:hover {
 background: var(--primaryColor);
}

.skill:hover .skill-title{
color: var(--mainWhite);
}

.skill:hover .skill-icon {
 transform: translateY(-5px);
}

@media  screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

/* about */
.about-img,
.about-info {
 padding: 2rem 0;
}

.about-picture-container {
 background: var(--primaryColor);
 border: .5rem solid var(--primaryColor);
 border-radius: 1rem;
 overflow: hidden;
}

.about-picture {
 width: 100%;
 display: block;
 transition: var(--mainTransition);
}

.about-picture-container:hover .about-picture {
opacity: .5;
transform: scale(1.2);
}

.about-text {
 margin: 1rem 0;
 max-width: 26rem;
}

@media screen and (min-width:992px) {
.about-img,
.about-info {
 float: left;
 width: 50%;
 padding: 2rem;
}
}
/* end of about */

/* products */
.products {
 background: var(--mainDark);
}

.products-info,
.products-inventory {
 padding: 2rem 0;
}

.product-text {
 color: var(--mainWhite);
 margin: 1rem 0;
 max-width: 26rem;
}

.product {
 padding: 2rem 0;
}

.product-img {
display: block;
width: 100%;
border-radius: .4rem;
margin-bottom: 2rem;
}

.product-title {
 color: var(--mainWhite);
 letter-spacing: var(--letterSpacing);
 font-family: var(--slantedText);
}
.products-title {
 color: var(--mainGrey);
}
.product-price {
 color: var(--mainWhite);
 letter-spacing: var(--letterSpacing);
 font-family: var(--slantedText);
}

@media screen and (min-width:768px){
 .product {
  float: left;
  width: 50%;
  padding: 2rem 1rem;
 }
 .products-info {
  padding: 2rem 1rem;
 }
}

@media screen and (min-width:992px) {
 .product {
  width: 33.33%;
 }
}

@media screen and (min-width:1200px) {
 .products-info {
  float: left;
  width: 30%; 
 }
 .products-inventory {
  float: left;
  width: 70%;
 }
 .product {
  padding: 1.5rem 1rem 0 1rem;
 }
}
/* end of products */

/* contact */

.contact {
 padding-top: 2rem;
}

.contact-item {
 margin-bottom: 3rem;
}

.contact-title {
 color: var(--primaryColor);
 font-family: var(--slantedText);
 text-transform: capitalize;
 letter-spacing: calc(var(--letterSpacing)*2);
 font-size: 1.8rem;
 margin-bottom: .5rem;
}

.contact-text {
 text-transform: uppercase;
 letter-spacing: var(--letterSpacing);
}

.form-control {
display: block;
width: 100%;
border: none;
border-bottom: 2px solid var(--primaryColor);
outline: none;
margin: 2rem 0;
padding: 1.3rem 0;
font-size: .85rem;
font-weight: bold;
}

.form-control::placeholder {
color: var(--primaryColor);
text-transform: uppercase;
letter-spacing: var(--letterSpacing);
}

@media screen and (min-width:992px) {
.contact-info,
.contact-form {
 float: left;
 width: 50%;
 padding: 0 1rem;
}
.contact-info {
 padding-top: 5rem;
}
}

.footer {
 background: var(--mainDark);
 text-align: center;
}

.social-icon {
 color: var(--mainWhite);
 margin-right: 1rem;
 transition: var(--mainTransition);
 font-size: 1.15rem;
}

.social-icon:hover{
 color: var(--primaryColor);
}

.footer-text {
 text-transform: uppercase;
 letter-spacing: var(--letterSpacing);
 color: var(--mainWhite);
 margin-top: 1rem;
 font-size: .85rem;
}